@page "/frete"
@using FrontEnd.Model.Response
@using FrontEnd.Model.Resquest

<h3>Carteirinha</h3>
<EditForm Model="_freteRequest" OnInvalidSubmit="GerarPreco">
    <DataAnnotationsValidator/>
    <div class="row md-2">
        <div class="col-4">
            <label>Distâcia do frete</label>
            <InputNumber @bind-Value="_freteRequest.Distancia" class="form-control" />
            <ValidationMessage For="() => _freteRequest.Distancia" />
        </div>       
        <div class="col-2">
            <button type="submit" class="btn btn-outline-primary mt-2">Gerar Preco</button>
        </div>
    </div>
</EditForm>
@code {
    private FreteRequest _freteRequest { get; set; } = new();
    private FreteResponse freteResponse { get; set; } = new();

    private async Task GerarPreco()
    {
        var apiUrl = $"https://localhost:7170/obterFrete?distancia={_freteRequest.Distancia}&altura{_freteRequest.Altura}&peso={_freteRequest.Peso}&largura={_freteRequest.Largura}&comprimeno={_freteRequest.Comprimento}";
        var http = new HttpClient();
    }
}
